#root{
  width: 100vw;
  height: 100vh;
}
.main{
  height: 70vh;
}
.icon{
  width: clamp(35px, 3.5vw, 1.26rem);
  position: relative;
}
.icon::after {
  content: attr(data-count); /* Muestra el valor del atributo data-count */
  position: absolute;
  top: -10px; /* Ajusta según sea necesario */
  left: -15px; /* Ajusta según sea necesario */
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}
.carousel-caption{
  background-color: #00000080;
  backdrop-filter: blur(5px);
  width: 100%;
  min-height: 20%;
  left: 0 !important;
  right: 0 !important;;
  bottom: 0 !important;;
}
.Card-container {
  box-sizing: border-box;
  min-width: 260px;
  height: fit-content;
  padding: 1rem;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
.gallery{
  min-height: 100vh;
  width: 80%;
  margin: 1rem auto;
  
  display: grid;
  grid-template-columns: 
  repeat(auto-fit, minmax(min(260px, 100%), 1fr));
  gap: 30px;
}

